body {
  /* Photo credit to rawpixel.com */
  background: url("/src/assets/images/circlePatternBackground.jpg") no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
